<CONFIG>
  <environment>
    <default_project_folder>F:\ggr Projekte\vm_projekte</default_project_folder>
    <python_path>C:/Anaconda/envs/tdmks/python.exe</python_path>
  </environment>
  <trafficmodels>
    <Maxem>
      <default_folder>F:\ggr Projekte\gui_vm\default\Maxem</default_folder>
      <executable>F:\ELAN\tdmks\src\tdmks\main.py</executable>
      <config_file>config/Maxem/maxem.py</config_file>
    </Maxem>
    <VerkMod>
      <default_folder></default_folder>
      <executable></executable>
      <config_file></config_file>
    </VerkMod>
  </trafficmodels>
</CONFIG>
