<CONFIG>
  <environment>
    <python_path>c:\Python27\python.exe</python_path>
  </environment>
  <trafficmodels>
    <Maxem>
      <config_file>config/Maxem/maxem.py</config_file>
      <executable>F:/ELAN/tdmks/src/tdmks/main.py</executable>
      <default_folder>F:\ggr Projekte\gui_vm\default\Maxem</default_folder>
    </Maxem>
    <VerkMod>
      <config_file></config_file>
      <executable></executable>
      <default_folder></default_folder>
    </VerkMod>
  </trafficmodels>
  <history>
    <value>F:\ggr Projekte\vm_projekte\test2</value>
    <value>F:\ggr Projekte\vm_projekte\bla</value>
    <value>F:\ggr Projekte\vm_projekte\test</value>
  </history>
</CONFIG>
