<CONFIG>
  <environment>
    <default_project_folder></default_project_folder>
    <python_path></python_path>
  </environment>
  <trafficmodels>
    <Maxem>
      <default_folder></default_folder>
      <executable></executable>
      <config_file>config/Maxem/maxem.py</config_file>
    </Maxem>
    <VerkMod>
      <default_folder></default_folder>
      <executable></executable>
      <config_file></config_file>
    </VerkMod>
  </trafficmodels>
</CONFIG>
